

<h1><%= @user.username %> comments:</h1> #takes user name and says somments blank 

<% @user.posts.each do |post|%> #for each users post do somthing 
  <p>
    <%= link_to post.title, post_path(post) %> #make the title a link and then send to the post path 
  </p>
<% end %>